USE [master]
GO
/****** Object:  Database [DualBid_DB]    Script Date: 05/02/2026 11:24:34 a. m. ******/
CREATE DATABASE [DualBid_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DualBid_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DualBid_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DualBid_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DualBid_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DualBid_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DualBid_DB]
GO
/****** Object:  Table [dbo].[Auction]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comic_id] [int] NOT NULL,
	[creator_user_id] [int] NOT NULL,
	[start_date] [datetime2](7) NOT NULL,
	[expected_end_date] [datetime2](7) NOT NULL,
	[actual_end_date] [datetime2](7) NULL,
	[base_price] [decimal](10, 2) NOT NULL,
	[minimun_increase] [decimal](10, 2) NOT NULL,
	[state] [bit] NOT NULL,
	[winning_bid_id] [int] NULL,
 CONSTRAINT [PK_Subasta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[auction_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[amount_offered] [decimal](10, 2) NOT NULL,
	[date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Puja] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[edition_number] [int] NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[creation_date] [datetime2](7) NOT NULL,
	[year_publication] [int] NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[publisher_id] [int] NOT NULL,
	[state_conservation_id] [int] NOT NULL,
	[condition_id] [int] NOT NULL,
 CONSTRAINT [PK_Comic] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic_Category]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic_Category](
	[comic_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [PK_Comic_Categoria] PRIMARY KEY CLUSTERED 
(
	[comic_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condition]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Condicion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Img_ comic]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Img_ comic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img] [varbinary](max) NOT NULL,
	[comic_id] [int] NOT NULL,
 CONSTRAINT [PK_Imagen_comic] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Img_comic]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Img_comic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img] [varbinary](max) NOT NULL,
	[comic_id] [int] NOT NULL,
 CONSTRAINT [PK_Imagen_ comic] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Editorial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State_Conservation]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_Conservation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Estado_conservacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[last_names] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[role_id] [int] NOT NULL,
	[state_id] [int] NOT NULL,
	[registration_date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Status]    Script Date: 05/02/2026 11:24:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [description]) VALUES (1, N'Superhéroes')
INSERT [dbo].[Category] ([id], [description]) VALUES (2, N'Manga')
INSERT [dbo].[Category] ([id], [description]) VALUES (3, N'Ciencia Ficción')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Condition] ON 

INSERT [dbo].[Condition] ([id], [description]) VALUES (1, N'Nuevo')
INSERT [dbo].[Condition] ([id], [description]) VALUES (2, N'Usado')
SET IDENTITY_INSERT [dbo].[Condition] OFF
GO
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([id], [description]) VALUES (1, N'Marvel Comics')
INSERT [dbo].[Publisher] ([id], [description]) VALUES (2, N'DC Comics')
INSERT [dbo].[Publisher] ([id], [description]) VALUES (3, N'Image Comics')
SET IDENTITY_INSERT [dbo].[Publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [description]) VALUES (1, N'Administrador')
INSERT [dbo].[Role] ([id], [description]) VALUES (2, N'Vendedor')
INSERT [dbo].[Role] ([id], [description]) VALUES (3, N'Comprador')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[State_Conservation] ON 

INSERT [dbo].[State_Conservation] ([id], [description]) VALUES (1, N'Nuevo')
INSERT [dbo].[State_Conservation] ([id], [description]) VALUES (2, N'Como nuevo')
INSERT [dbo].[State_Conservation] ([id], [description]) VALUES (3, N'Excelente')
SET IDENTITY_INSERT [dbo].[State_Conservation] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Status] ON 

INSERT [dbo].[User_Status] ([id], [description]) VALUES (1, N'Activo')
INSERT [dbo].[User_Status] ([id], [description]) VALUES (2, N'Bloqueado')
SET IDENTITY_INSERT [dbo].[User_Status] OFF
GO
ALTER TABLE [dbo].[Auction]  WITH CHECK ADD  CONSTRAINT [FK_Auction_Bid] FOREIGN KEY([winning_bid_id])
REFERENCES [dbo].[Bid] ([id])
GO
ALTER TABLE [dbo].[Auction] CHECK CONSTRAINT [FK_Auction_Bid]
GO
ALTER TABLE [dbo].[Auction]  WITH CHECK ADD  CONSTRAINT [FK_Auction_Comic] FOREIGN KEY([comic_id])
REFERENCES [dbo].[Comic] ([id])
GO
ALTER TABLE [dbo].[Auction] CHECK CONSTRAINT [FK_Auction_Comic]
GO
ALTER TABLE [dbo].[Auction]  WITH CHECK ADD  CONSTRAINT [FK_Auction_User] FOREIGN KEY([creator_user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Auction] CHECK CONSTRAINT [FK_Auction_User]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_Bid_Auction] FOREIGN KEY([auction_id])
REFERENCES [dbo].[Auction] ([id])
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_Bid_Auction]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_Bid_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_Bid_User]
GO
ALTER TABLE [dbo].[Comic]  WITH CHECK ADD  CONSTRAINT [FK_Comic_Condition] FOREIGN KEY([condition_id])
REFERENCES [dbo].[Condition] ([id])
GO
ALTER TABLE [dbo].[Comic] CHECK CONSTRAINT [FK_Comic_Condition]
GO
ALTER TABLE [dbo].[Comic]  WITH CHECK ADD  CONSTRAINT [FK_Comic_Publisher] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[Publisher] ([id])
GO
ALTER TABLE [dbo].[Comic] CHECK CONSTRAINT [FK_Comic_Publisher]
GO
ALTER TABLE [dbo].[Comic]  WITH CHECK ADD  CONSTRAINT [FK_Comic_State_Conservation] FOREIGN KEY([state_conservation_id])
REFERENCES [dbo].[State_Conservation] ([id])
GO
ALTER TABLE [dbo].[Comic] CHECK CONSTRAINT [FK_Comic_State_Conservation]
GO
ALTER TABLE [dbo].[Comic]  WITH CHECK ADD  CONSTRAINT [FK_Comic_User] FOREIGN KEY([seller_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Comic] CHECK CONSTRAINT [FK_Comic_User]
GO
ALTER TABLE [dbo].[Comic_Category]  WITH CHECK ADD  CONSTRAINT [FK_Comic_Category_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Comic_Category] CHECK CONSTRAINT [FK_Comic_Category_Category]
GO
ALTER TABLE [dbo].[Comic_Category]  WITH CHECK ADD  CONSTRAINT [FK_Comic_Category_Comic] FOREIGN KEY([comic_id])
REFERENCES [dbo].[Comic] ([id])
GO
ALTER TABLE [dbo].[Comic_Category] CHECK CONSTRAINT [FK_Comic_Category_Comic]
GO
ALTER TABLE [dbo].[Img_ comic]  WITH CHECK ADD  CONSTRAINT [FK_Img_ comic_Comic] FOREIGN KEY([comic_id])
REFERENCES [dbo].[Comic] ([id])
GO
ALTER TABLE [dbo].[Img_ comic] CHECK CONSTRAINT [FK_Img_ comic_Comic]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Status] FOREIGN KEY([role_id])
REFERENCES [dbo].[User_Status] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User_Status]
GO
USE [master]
GO
